
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Street Event Map</title>
    <style>
      #map {
        width: 300px;
        height: 400px;
        background-color: grey;
      }
    </style>
  </head>
  <body>
    {% load static %}
    <div id="map"></div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% include 'base/js.html' %}

    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GCP_KEY }}&callback=initMap"></script>
    <script>
      $(document).ready(function(){
      });
      function initMap() {
        var pin_icon = "{% static 'pin.svg' %}";
        var people_icon = "{% static 'people.svg' %}";
        var event_sheet_url = "https://sheets.googleapis.com/v4/spreadsheets/1euQRT2EmrOyEjYyJymGPLVMUycBUpDOEqUWdOPTK8bs/values/Form_Responses!E2:G?key={{ GCP_KEY }}";
        var user_sheet_url = "https://sheets.googleapis.com/v4/spreadsheets/1euQRT2EmrOyEjYyJymGPLVMUycBUpDOEqUWdOPTK8bs/values/User_Locations!A2:C?key={{ GCP_KEY }}";
        var times_square = {lat: 40.758, lng: -73.985};

        var map = new google.maps.Map(
          document.getElementById('map'),
          {zoom: 10, center: times_square, styles: map_style}
        );
        var infowindow = new google.maps.InfoWindow({
          content: "Content String"
        });
        var addmarker = function(icon) {
          return function(data) {
            $(data.values).each(function() {
              var desctext = this[0];
              var marker = new google.maps.Marker({
                position: {lat:parseFloat(this[1]), lng:parseFloat(this[2])},
                map: map,
                icon: icon,
                zIndex: -1
              });
              marker.addListener('mouseover', function() {
                infowindow.setContent('<div>'+desctext+'</div>');
                infowindow.open(map, this);
              });
              marker.addListener('mouseout', function() {
                infowindow.close();
              });
            });
          };
        };
        $.getJSON(event_sheet_url, addmarker(pin_icon));
        $.getJSON(user_sheet_url, addmarker(people_icon));
      };
    </script>
  </body>
</html>
