
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Street Event Map</title>
    <style>
      #map {
        width: 300px;
        height: 500px;
        background-color: grey;
      }
    </style>
  </head>
  <body>
    {% load static %}
    <div id="map"></div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% include 'base/js.html' %}

    <script>


    $(document).ready(function(){
    });
    function initMap() {

      var icon = "{% static 'pin.svg' %}";

	  var times_square = {lat: 40.758, lng: -73.985};
	  var central_park = {lat: 40.782, lng: -73.965};
	  var map = new google.maps.Map(
	      document.getElementById('map'), {zoom: 11, center: times_square, styles: map_style});
	  var marker = new google.maps.Marker({position: times_square, map: map,icon: icon});
	  var marker2 = new google.maps.Marker({position: central_park, map: map, icon: icon});
	}
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GCP_KEY }}&callback=initMap"></script>

  </body>
</html>